/* =========================================
   GLOBAL STYLES
   ========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background:
        radial-gradient(
            circle at top left,
            #172554 0%,
            #0f172a 35%,
            #020617 100%
        );

    color: #e5e7eb;

    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

/* Remove default button font differences */
button,
input,
select,
textarea {
    font-family: inherit;
}

/* Better selection */
::selection {
    background: #2563eb;
    color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}